<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>
  <h1>Welcome to the Soccer Database</h1>

  <form method="GET" action="/pg3reset">
    <p><input type="submit" value="Reset"></p>
  </form>

  <h2>National Teams</h2>

<form method="POST" action="/winsordering">

  <div>
    <table>
    <tr>
      <div>
      <td><b>Country</b></td>
      <td><b>World Ranking</b></td>
      <td><b>World Cup Wins</b></td>
      </div>
  	</tr>
    <tr>
      <div>
      <td></td>
      <td></td>
      <td><select name="winsorder"><option value="Ascending">Least</option><option value="Descending">Most</option></select></td>
          <p><input type="submit" value="Order"></p></form>
      </div>
    </tr>
  	{% for item in data %}
      <tr>
        <div>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        </div>
      </tr>
      {% endfor %}
    </table>
  </div>

	<p><a href="clubsmanagerstournaments">Clubs, Managers and Tournaments</a></p>
  <p><a href="/">Main Page</a></p>

</body>

</html>